* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  background-color: #00d1b2;
  color: #fff;
  margin-bottom: 15px;
}

.image {
  width: 100px;
  height: 120px;
}

.image img {
  object-fit: contain;
  object-position: center;
  width: 100%;
  height: 100%;
}

#logo {
  margin-left: 15px;
  font-size: 50px;
}

.navItem {
  margin-right: 15px;
  color: #fff;
  font-size: 25px;
}

.navItem:hover {
  color: antiquewhite;
}

#itemsWrapper {
  display: flex;
}

#footer {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#footer button {
  font-size: 20px;
  color: #fff;
  background-color: #00d1b2;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 0 15px;
}

#footer button:hover {
  background-color: blueviolet;
}

#pg {
  font-size: 30px;
}
